@{
    ViewBag.Title = "Home Page";
}

<h2>Login</h2>
<form action="/home/submit" method="post" class="form-group">
    <input type="text" class="form-control" name="StudentId" placeholder="Student Id" /><br />
    <input type="password" class="form-control" name="Password" placeholder="Password" /><br />
    <input type="submit" class="btn btn-success" name="Submit" />
</form>